<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tractor Maker </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="reset()">
        <ion-icon
          name="refresh-outline"
          slot="start"
          style="transform: scaleX(-1)"
        ></ion-icon>
        <ion-label class="ion-hide-lg-down">Reset</ion-label>
      </ion-button>
      <ion-button (click)="share()">
        <ion-icon name="share-outline" slot="start"></ion-icon>
        <ion-label class="ion-hide-lg-down">Share</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="loadModal.present()"
        [disabled]="!tractorStorageService.tractors.length"
      >
        <ion-icon slot="start" name="list-circle-outline"></ion-icon>
        <ion-label class="ion-hide-lg-down">My Tractors</ion-label>
      </ion-button>
      <ion-modal #loadModal>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="loadModal.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>My Tractors</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-item
              *ngIf="tractorStorageService.tractors.length===0"
              lines="none"
            >
              <ion-label>No tractors</ion-label>
            </ion-item>
            <ion-item
              [button]="true"
              *ngFor="let tractor of tractorStorageService.tractors; trackBy: trackByTractorId"
              (click)="configForm.patchValue(tractor.config); loadModal.dismiss()"
            >
              <ion-thumbnail slot="start">
                <app-tractor
                  [config]="tractor.config"
                  [animated]="false"
                ></app-tractor>
              </ion-thumbnail>

              <ion-label
                ><h2>{{tractor.name}}</h2>
                <p>{{tractor.createdAt | date }}</p>
              </ion-label>
              <ion-button
                slot="end"
                fill="clear"
                color="danger"
                (click)="deleteTractor(tractor.createdAt);$event.stopPropagation();"
              >
                <ion-icon name="trash-outline"></ion-icon
              ></ion-button>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-button color="primary" (click)="saveCurrentTractor()">
        <ion-icon slot="start" name="save-outline"></ion-icon>

        <ion-label class="ion-hide-lg-down">Save</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <as-split
    [gutterSize]="24"
    [direction]="isWidescreen ? 'horizontal' : 'vertical'"
  >
    <as-split-area [size]="70">
      <app-tractor [config]="config$ | async"></app-tractor>
    </as-split-area>
    <as-split-area [size]="30">
      <form [formGroup]="configForm">
        <ion-accordion-group [multiple]="true" [value]="['chassis', 'wheels']">
          <ion-accordion value="chassis">
            <ion-item slot="header">
              <fa-icon slot="start" [icon]="icons.car"></fa-icon>
              <ion-label>Body</ion-label>
            </ion-item>

            <div slot="content">
              <ion-item>
                <ion-label>Color</ion-label>
                <input type="color" formControlName="color" />
              </ion-item>

              <ion-item>
                <ion-label>Cabin Width</ion-label>
                <ion-range min="20" max="100" formControlName="cabinWidth">
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="start"
                    style="transform: scaleX(0.5)"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="end"
                    style="transform: scaleX(1.5)"
                  ></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Hood height</ion-label>
                <ion-range min="20" max="100" formControlName="hoodHeight">
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="start"
                    style="transform: scaleY(0.5)"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="end"
                    style="transform: scaleY(1.5)"
                  ></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Height</ion-label>
                <ion-range min="100" max="400" formControlName="height">
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="start"
                    style="transform: scaleY(0.5)"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="end"
                    style="transform: scaleY(1.5)"
                  ></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Length</ion-label>
                <ion-range min="100" max="500" formControlName="width">
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="start"
                    style="transform: scaleX(0.5)"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.carSide"
                    slot="end"
                    style="transform: scaleX(1.5)"
                  ></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Exhaust</ion-label>
                <ion-select
                  interface="popover"
                  formControlName="exhaustLocation"
                >
                  <ion-select-option value="front">Front</ion-select-option>
                  <ion-select-option value="roof">Roof</ion-select-option>
                  <ion-select-option value="back">Back</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-accordion>
          <ion-accordion value="wheels">
            <ion-item slot="header">
              <fa-icon slot="start" [icon]="icons.circleDot"></fa-icon>
              <ion-label>Wheels</ion-label>
            </ion-item>

            <div slot="content">
              <ion-item>
                <ion-label>Radius</ion-label>
                <ion-range min="30" max="100" formControlName="wheelSize">
                  <fa-icon
                    [icon]="icons.circle"
                    slot="start"
                    style="transform: scale(0.5)"
                  ></fa-icon>
                  <fa-icon
                    [icon]="icons.circle"
                    slot="end"
                    style="transform: scale(1.5)"
                  ></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Rim size</ion-label>
                <ion-range
                  min="0.4"
                  max="0.9"
                  [step]="0.05"
                  formControlName="rimSize"
                >
                  <fa-icon [icon]="icons.circleDot" slot="start"></fa-icon>
                  <fa-icon [icon]="icons.circle" slot="end"></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Ratio</ion-label>
                <ion-range min="1" max="200" formControlName="frontBackRatio">
                  <fa-icon [icon]="icons.balanceLeft" slot="start"></fa-icon>
                  <fa-icon [icon]="icons.balanceRight" slot="end"></fa-icon>
                </ion-range>
              </ion-item>
              <ion-item>
                <ion-label>Bolts</ion-label>
                <ion-range
                  [snaps]="true"
                  [ticks]="true"
                  [min]="0"
                  [max]="20"
                  formControlName="bolts"
                >
                  <fa-icon [icon]="icons.circle" slot="start"></fa-icon>
                  <fa-icon [icon]="icons.spinner" slot="end"></fa-icon>
                </ion-range>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </form>
    </as-split-area>
  </as-split>
</ion-content>
